Redirect 302 /slack/invite https://join.slack.com/t/owasp/shared_invite/enQtNjExMTc3MTg0MzU4LTViMDg1MmJiMzMwZGUxZjgxZWQ1MTE0NTBlOTBhNjhhZDIzZTZiNmEwOTJlYjdkMzAxMGVhNDkwNDNiNjZiOWQ
Redirect 302 /slack https://owasp.slack.com/messages/proj-dependency-track
Redirect 302 /discussion https://groups.io/g/dependency-track
Redirect 302 /mailing-list https://groups.io/g/dependency-track
Redirect 302 /gitter https://gitter.im/dependency-track/Lobby
Redirect 302 /youtube https://www.youtube.com/channel/UC8xdttysl3gNAQYvk1J9Efg
Redirect 302 /docs https://docs.dependencytrack.org/
Redirect 302 /docker https://hub.docker.com/r/owasp/dependency-track/
Redirect 302 /download https://github.com/DependencyTrack/dependency-track/releases
Redirect 302 /github https://github.com/DependencyTrack
Redirect 302 /glo https://app.gitkraken.com/glo/board/Wyg11jYqEg4AI4OQ
Redirect 302 /twitter https://twitter.com/DependencyTrack