Redirect 302 /slack/invite https://join.slack.com/t/owasp/shared_invite/enQtNjExMTc3MTg0MzU4LWQ2Nzg3NGJiZGQ2MjRmNzkzN2Q4YzU1MWYyZTdjYjA2ZTA5M2RkNzE2ZjdkNzI5ZThhOWY5MjljYWZmYmY4ZjM
Redirect 302 /slack https://owasp.slack.com/messages/proj-dependency-track
Redirect 302 /discussion https://groups.io/g/dependency-track
Redirect 302 /mailing-list https://groups.io/g/dependency-track
Redirect 302 /gitter https://gitter.im/dependency-track/Lobby
Redirect 302 /youtube https://www.youtube.com/c/OWASPDependencyTrack
Redirect 302 /docs https://docs.dependencytrack.org/
Redirect 302 /docker https://hub.docker.com/r/owasp/dependency-track/
Redirect 302 /download https://github.com/DependencyTrack/dependency-track/releases
Redirect 302 /github https://github.com/DependencyTrack
Redirect 302 /glo https://app.gitkraken.com/glo/board/Wyg11jYqEg4AI4OQ
Redirect 302 /twitter https://twitter.com/DependencyTrack
Redirect 302 /sponsor https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=paypal%40owasp%2eorg&lc=US&item_name=OWASP%20Dependency-Track&no_note=0&currency_code=USD&bn=PP%2dDonationsBF
